.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
    height: 100vh;
    width: 100vw;
}
.heading{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    background: lightgray;
}
.count{
    text-align: center;
    align-items: center;
    justify-content: center;
}
.inc{
    margin: 0.5%;
    height: 5vh;
    width: 20vw;
    text-align: center;

}
.dec{
    margin: 0.5%;
    height: 5vh;
    width: 20vw;
}